 <div class="right_content"> 
 	<%= javascript_include_tag "datetimepicker" %>
	    <%= javascript_include_tag :defaults %>
<center>
	           <%=form_tag :controller => '/admin' ,:action => 'save'%>
			     <table width="550" height = "400" border="0">
			    <tr>
					<td colspan="2" style="background-color:#ADDFFF;">
					  <h1><center>Employee Personal Details</center></h1>
					</td>
				</tr>

				<tr valign="top">
					<td style="background-color:#eeeeee;width:100px;text-align:top;">
					<label>Emp ID</label><br/>
					<%=text_field 'employee_detail', "emp_id", :value=>@inc_val,:readonly=>true%><br/>
					<label>Emp Name</label><br/>
					<%=text_field "employee_detail","username",:class => 'display_caps'%><br/>
					<label>Emp Roll</label><br/>
					<%=select "employee_detail","employee_type",{"SoftwareEngineer"=>"SoftwareEngineer","Testing"=>"Testing","Migration"=>"Migration","softwareDeveloper"=>"softwareDeveloper","SysAdmin"=>"SysAdmin","HR"=>"HR","Other"=>"Other"} %><br/>
					<label>Date Of Birth</label><br/>
					<%=text_field "employee_detail","dob", :id=>'demo1',:size=>15%>
					<a href="javascript:NewCal('demo1','ddmmyyyy')">
					<img src="assets/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>
					<br/>
					<label>Address</label><br/>
					<%=text_field "employee_detail","adress"%><br/>
					<label>PhoneNo</label><br/>
					<%=text_field "employee_detail","phone_no"%><br/>
					<label>Email</label><br/>
					<%=text_field "employee_detail","email"%><br/>
					<label>Emp password</label><br/>
					<%=text_field "employee_detail","password"%><br/>
				</td>
				<td style="background-color:#eeeeee;height:400px;width:10000px;text-align:top;">
					<label>Gender</label>
					<%= collection_select 'employee_detail', 'gender_id', @gender, 'id', 'name' %>
					<br/><br/>
     				<label>Blood Group</label> &nbsp;&nbsp;&nbsp;  <label>Region</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Nationality</label><br/>
     				<%= collection_select 'employee_detail', 'blood_group_id', @blood_group, 'id', 'name' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
     				<%= collection_select 'employee_detail', 'region_id', @region, 'id', 'name' %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;  
					<%= collection_select 'employee_detail', 'nationality_id', @nationlities, 'id', 'name' %>
					<br/>
					<label>Start_date</label><br/>
					<%=text_field "employee_detail","admission_date", :value=>@d,:readonly=>true%><br/>
					<label>Basic Salary</label><br/>
					<%=text_field "employee_detail","basic_salary"%><br/>
					<%@accno=Time.new%>
					<%@accno=@accno.strftime("%d%m%y")%>
					<%@accno=@accno.to_s%>
					<%@incrementid=@incrementid.to_s%>
					<%@accnoincrementid=@accno+@incrementid%>
					<label>BankAccNo</label><br/>
					<%=text_field "employee_detail","bank_acc_no",:value=>@accnoincrementid%><br/>
					<br><label>Resume   </label><br/>
					<%= file_field 'employee_detail', 'resume' %><br/>
					<br>
				</td><br/>
			</tr>
			<tr>
				<td colspan="2" style="background-color:#ADDFFF;text-align:center;">
				<%=submit_tag "create" %>
				</td>
			</tr>
		</table>
		
</div>